venv
build
dist
.idea
__pycache__
*.pyc
*.spec
private
__*.py
temp/
.python-version
script_execute/scripts/*
script_execute/logs/*
builder*.bat
builder*.sh
*.log
*.specs
.env
keep_alive/check_list.json